@font-face {
    font-family: 'Geneva';
    src: url(../police/geneva__.ttf);
    font-family: 'Bourgeois';
    src: url(../police/Bourgeois\ W00\ Medium.ttf);
}

.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    background-color : #000b28 ;
    display: flex;
    justify-content: flex-start;
    z-index: 99;
    padding-left: 15px;
    align-items: center;
}

.logo-barre {
    width: 40px ;
    height: 40px ;
}

.ctn-logo{
    margin-right: 10px;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    height: 30px ;
    width: 1px ;
}

.logo-title {
    display: flex;
    flex-direction: column;
    padding: 5px 29px;
    color: white ;
    text-transform: uppercase;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.logo-title > span:nth-child(1){
    position: relative;
    bottom: -4px;
}

.logo-title > span:nth-child(2){
    position: relative;
    top: -4px;
}

.bouton-competitions {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem ;
}

.bouton-top16 {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem;
}

.bouton-clips {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

.bouton-skins {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

.arriere-plan {
    background-image: url(../img/Fondtop.jpg);
    width: 100%;
    height: 2000px;
    padding-top: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    vertical-align: middle;
}

.title{
    color: white;
    padding-top: 4%;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size: 2.2vw;
    text-align: center;
}

ul li::before {
    content: "•   " ;
    color : white ;
}    

li {
    text-align: start;
    padding-left: 2%;
    padding-top: 2%;
    color: white;
    font-family : 'Bourgeois',sans-serif ;
    font-size: 1.4vw;
}

.title2{
    color: white;
    padding-top: 5%;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size: 2.2vw;
    text-align: center;
}

.title-split{
    color: white;
    padding-top: 3%;
    padding-left: 2%;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size: 2vw;
    text-align: start;
}

.btn{
    color: white;
    border-radius: 2rem;
    padding-left: 1%;
    padding-right: 1%;
}

.btn:hover{
    color: black;
    background-color: white;
    transition: 0.6s;
}

.btn:not(:hover){
    transition: 0.6s;
}

* {
    margin : 0 ;
    padding : 0 ;
}