@font-face {
    font-family: 'Geneva';
    src: url(../police/geneva__.ttf);
    font-family: 'Bourgeois';
    src: url(../police/Bourgeois\ W00\ Medium.ttf);
}

.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    background-color : #000b28 ;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.logo-barre {
    width: 40px ;
    height: 40px ;
}

.ctn-logo{
    margin-right: 10px;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    height: 30px ;
    width: 1px ;
}

.logo-title {
    display: flex;
    flex-direction: column;
    padding: 5px 29px;
    color: white ;
    text-transform: uppercase;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.logo-title > span:nth-child(1){
    position: relative;
    bottom: -4px;
}

.logo-title > span:nth-child(2){
    position: relative;
    top: -4px;
}

.bouton-competitions {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem ;
}

.bouton-top16 {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem;
}

.bouton-clips {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

.bouton-skins {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

.arriere-plan {
    position : absolute ;
    top : 50px ;
    left : 0 ;
}

.arriere-plan {
    background-image: url(../img/Fondtop.jpg);
    width: 100%;
    height: 2000px;
    padding-top: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    vertical-align: middle;
}

.title{
    color: white;
    padding-top: 4%;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size: 2.2vw;
    text-align: center;
}

.ctn-img {
    padding-top : 3% ;
}

.img {
    width : 100% ;
}

* {
    margin : 0 ;
    padding : 0 ;
}

::-webkit-scrollbar {
    width: 8px; /* largeur de la barre de défilement */
    background-color: #171816; /* couleur de fond de la barre de défilement */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* couleur de la poignée de défilement */
    border-radius: 10px; /* arrondi de la poignée de défilement */
    min-height: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* couleur de la poignée de défilement au survol */
  }