@font-face {
    font-family: 'Geneva';
    src: url(police/geneva__.ttf);
    font-family: 'Bourgeois';
    src: url(police/Bourgeois\ W00\ Medium.ttf);
}

.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    height: 50px ;
    background-color : #000b28 ;
}

.logo-barre {
    position :fixed ;
    top : 5px ;
    left : 5px ;
    width: 40px ;
    height: 40px ;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 60px ;
    height: 30px ;
    width: 1px ;
}

.titre-rocket {
    color: white ;
    position: fixed ;
    top : 2px ;
    left : 71px ;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.titre-league {
    color : white ;
    position : fixed ;
    top : 20px ;
    left : 70px ;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.bouton-competitions {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 190px ;
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem ;
}

.separateur1 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 303px ;
    height: 30px ;
    width: 1px ;
}

.bouton-top16 {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 304px ;
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem;
}

.separateur2 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 421px ;
    height: 30px ;
    width: 1px ;
}

.bouton-clips {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 422px ;
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

.separateur3 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 471px ;
    height: 30px ;
    width: 1px ;
}

.bouton-skins {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 472px ;
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

.separateur4 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 523px ;
    height: 30px ;
    width: 1px ;
}

a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

* {
    margin : 0 ;
    padding : 0 ;
}
