.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    height: 90px ;
    background-color : #000b28 ;
}

.logo-barre {
    position: fixed;
    top : 1px ;
    left : 1px ;
    width: 86px ; 
    height: 86px ;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 95px ;
}

.titre-rocket{
    color : white ;
    position: fixed;
    top : 0px ;
    left : 110px ;
    font-size: 2.7rem ;
    font-family: Verdana, sans-serif;  
}

.titre-league {
    color : white ;
    position : fixed ;
    top : 35px ;
    left : 108px ;
    font-size : 2.7rem ;
    font-family : Verdana, sans-serif;
}

.separateur1 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 333px ;
}

.bouton-competitions {
    display: block ;
    position: fixed ;
    height: 90px ;
    width: 160px ;
    left : 334px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size: 1.15rem ;
}

.texteb1 {
    position: fixed ;
    top : 30px ;
    left : 360px ;
}

.separateur2 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 495px ;
}

.bouton-top16 {
    display : block ;
    position : fixed ;
    height: 90px ;
    width: 158px ;
    left : 496px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial, sans-serif ;
    font-size: 1.15rem ;
}

.texteb2 {
    position: fixed ;
    top : 30px ;
    left : 510px ;
}

.separateur3 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 655px ;
}

.bouton-clips {
    display : block ;
    position : fixed ;
    height : 90px ;
    width: 93px ;
    left : 656px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

.texteb3 {
    position : fixed ;
    top : 30px ;
    left : 680px ;
}

.separateur4 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 749px ;
}

.bouton-skins {
    display : block ;
    position : fixed ;
    height: 90px ;
    width: 85px;
    left : 750px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

.texteb4 {
    position : fixed ;
    top : 30px ;
    left : 770px ;
}

.separateur5 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 835px ;
}


a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

* {
    margin : 0 ;
    padding : 0 ;
}

.background{
    width: 100%;
    height: 600px;
}