body {
    margin: 0 ;
}

@font-face {
    font-family: 'Geneva';
    src: url(police/geneva__.ttf);
    font-family: 'Bourgeois';
    src: url(police/Bourgeois\ W00\ Medium.ttf);
}

.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    z-index: 99 ;
    background-color : #000b28 ;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.logo-barre {
    width: 40px ;
    height: 40px ;
}

.ctn-logo{
    margin-right: 10px;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    height: 30px ;
    width: 1px ;
}

.logo-title {
    display: flex;
    flex-direction: column;
    padding: 5px 29px;
    color: white ;
    text-transform: uppercase;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.logo-title > span:nth-child(1){
    position: relative;
    bottom: -4px;
}

.logo-title > span:nth-child(2){
    position: relative;
    top: -4px;
}

.bouton-competitions {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem ;
}

.bouton-top16 {
    color : rgba(255,255,255,0.822) ;
    text-transform: uppercase;
    font-family : 'Bourgeois',sans-serif ;
    font-size : 1rem;
}

.bouton-clips {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

.bouton-skins {
    color : rgba(255,255,255,0.822) ;
    font-family : 'Bourgeois',sans-serif ;
    text-transform: uppercase;
    font-size : 1rem ;
}

a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

.main {
    margin : 0 ;
    margin-top: 50px ;
}

.arriere-plan {
    background-image: url(img/Champions-Field1920.webp);
    background: cover ;
    background-size :100% 100% ;
    height: 100vh ;
    z-index: 0 ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}

.logorlcs {  
    width: 27% ;
        
}