.barre {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}

.color-barre {
    background-color: #000b28 ;
    overflow: hidden ;
    height: 90px ;
}

.logo-barre {
    position: absolute;
    top : 1% ;
    left : 1% ;
    max-width: 6%; 
}

.titre-rocket{
    color : white ;
    position: absolute;
    top : 0% ;
    left : 9% ;
    font-size: 250% ;
    font-family: Verdana, sans-serif;  
}

.titre-league {
    color : white ;
    position : absolute ;
    top : 6% ;
    left : 9% ;
    font-size : 250% ;
    font-family : Verdana, sans-serif;
}

.bouton-competitions {
    display : block;
    position : fixed ;
    top : 30px ;
    left  : 375px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size: 1.15rem
}

.bouton-top16 {
    display : block ;
    position : fixed ;
    top : 30px ;
    left : 525px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial, sans-serif ;
    font-size: 1.15rem
}

.bouton-clips {
    display: block;
    position : fixed ;
    top : 30px ;
    left : 700px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

.bouton-skins {
    display: block;
    position : fixed ;
    top : 30px ;
    left : 850px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

* {
    margin: 0;
    padding: 0;
}