.barre {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}

.color-barre {
    background-color: #000b28 ;
    overflow: hidden ;
    height: 90px ;
}

.logo-barre {
    position: fixed;
    top : 1px ;
    left : 1px ;
    width: 86px ; 
    height: 86px ;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    width : 1px ;
    height : 60px ;
    top : 15px ;
    left : 95px ;
}

.titre-rocket{
    color : white;
    position: fixed;
    top : 0px ;
    left : 110px ;
    font-size: 2.7rem ;
    font-family: Verdana, sans-serif;  
}

.titre-league {
    color : white ;
    position : fixed ;
    top : 35px ;
    left : 108px ;
    font-size : 2.7rem ;
    font-family : Verdana, sans-serif;
}

.bouton-competitions {
    display : block;
    position : fixed ;
    top : 30px ;
    left  : 360px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size: 1.15rem
}

.bouton-top16 {
    display : block ;
    position : fixed ;
    top : 30px ;
    left : 510px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial, sans-serif ;
    font-size: 1.15rem
}

.bouton-clips {
    display: block;
    position : fixed ;
    top : 30px ;
    left : 680px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

.bouton-skins {
    display: block;
    position : fixed ;
    top : 30px ;
    left : 770px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 1.15rem ;
}

a {
    text-decoration: None ;
}

a:hover {
    color : white ;
}

* {
    margin: 0;
    padding: 0;
}