.barre {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}

.color-barre {
    background-color: #000b28 ;
    overflow: hidden ;
    height: 90px ;
}

* {
    margin: 0;
    padding: 0;
}