.barre {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    height: 50px ;
    background-color : #000b28 ;
}

.logo-barre {
    position :fixed ;
    top : 5px ;
    left : 5px ;
    width: 40px ;
    height: 40px ;
}

.separateur {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 60px ;
    height: 30px ;
    width: 1px ;
}

.titre-rocket {
    color: white ;
    position: fixed ;
    top : 2px ;
    left : 71px ;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.titre-league {
    color : white ;
    position : fixed ;
    top : 20px ;
    left : 70px ;
    font-size: 20px ;
    font-family: Verdana, sans-serif;
}

.bouton-competitions {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 250px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 13px ;
}

.separateur1 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 347px ;
    height: 30px ;
    width: 1px ;
}

.bouton-top16 {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 348px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 13px ;
}

.separateur2 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 457px ;
    height: 30px ;
    width: 1px ;
}

.bouton-clips {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 458px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 13px ;
}

.separateur3 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 501px ;
    height: 30px ;
    width: 1px ;
}

.bouton-skins {
    display : block ;
    position : fixed ;
    top : 15px ;
    left : 502px ;
    color : rgba(255,255,255,0.822) ;
    font-family : Arial,sans-serif ;
    font-size : 13px ;
}

.separateur4 {
    background-color : rgba(255,255,255,0.822) ;
    position : fixed ;
    top : 10px ;
    left : 549px ;
    height: 30px ;
    width: 1px ;
}

a {
    text-decoration : None ;
}

a:hover {
    color : white ;
}

* {
    margin : 0 ;
    padding : 0 ;
}
